# Archivos de Compilacion y Entornos de Codigo
.pio/
.vscode/
.idea/
*.bin
*.elf

# Archivos de Obsidian y Archivos Comprimidos
.obsidian/
01_Documentacion/.obsidian/
*.canvas
*.zip

# Archivos Temporales de Sistema Operativo
.DS_Store
Thumbs.db
